.auth {
    width: 25vw !important;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.Auth-form {
    width: 420px;
}

label {
    font-size: 17px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.image {
    height: 300px;
    width: 300px;
}